<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Autograder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>AutograderServlet</servlet-name>
  	<servlet-class>edu.uoregon.autograder.servlet.AutograderServlet</servlet-class>
  	<init-param>
      <param-name>TMP_DIR_PATH</param-name>
      <param-value>/tmp/autograder</param-value>
    </init-param>
    <init-param>
      <param-name>ADB_PATH</param-name>
      <param-value>/Applications/android-sdk-mac_x86/platform-tools/adb</param-value>
    </init-param>
    <init-param>
      <param-name>EMULATOR_PATH</param-name>
      <param-value>/Applications/android-sdk-mac_x86/tools/emulator</param-value>
    </init-param>
    <!-- if you don't provide a way for the user to select an avd, this one will be used by default -->
    <init-param>
      <param-name>DEFAULT_AVD_NAME</param-name>
      <param-value>robotium</param-value>
    </init-param>
    <init-param>
      <param-name>APKTOOL_PATH</param-name>
      <param-value>/usr/bin/apktool</param-value>
    </init-param>
    <init-param>
      <param-name>DEBUG_KEYSTORE_PATH</param-name>
      <param-value>/Users/kurteous/.android/debug.keystore</param-value>
    </init-param>
    <!-- put your Robotium test APK files in this directory and they will be automatically shown in index.jsp -->
    <init-param>
      <param-name>ROBOTIUM_DIR</param-name>
      <param-value>/tmp/autograder/robotium</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AutograderServlet</servlet-name>
  	<url-pattern>/autograderservlet</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>MultigraderServlet</servlet-name>
  	<servlet-class>edu.uoregon.autograder.servlet.MultigraderServlet</servlet-class>
  	<init-param>
      <param-name>TMP_DIR_PATH</param-name>
      <param-value>/tmp/multigrader</param-value>
    </init-param>
    <init-param>
      <param-name>ADB_PATH</param-name>
      <param-value>/Applications/android-sdk-mac_x86/platform-tools/adb</param-value>
    </init-param>
    <init-param>
      <param-name>EMULATOR_PATH</param-name>
      <param-value>/Applications/android-sdk-mac_x86/tools/emulator</param-value>
    </init-param>
    <!-- if you don't provide a way for the user to select an avd, this one will be used by default -->
    <init-param>
      <param-name>DEFAULT_AVD_NAME</param-name>
      <param-value>robotium</param-value>
    </init-param>
    <init-param>
      <param-name>APKTOOL_PATH</param-name>
      <param-value>/usr/bin/apktool</param-value>
    </init-param>
    <init-param>
      <param-name>DEBUG_KEYSTORE_PATH</param-name>
      <param-value>/Users/kurteous/.android/debug.keystore</param-value>
    </init-param>
    <!-- put your Robotium test APK files in this directory and they will be automatically shown in index.jsp -->
    <init-param>
      <param-name>ROBOTIUM_DIR</param-name>
      <param-value>/tmp/multigrader/robotium</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MultigraderServlet</servlet-name>
  	<url-pattern>/multigraderservlet</url-pattern>
  </servlet-mapping> 
  
</web-app>